<footer class="footer">
  <ul class="footer__links">
    
    <li class="footer__linksItem">
      <a class="footer__linksItemLink" href="https://github.com/" target="_blank">
        <span>{% include "footer_svg/github.svg" %}</span>
        <span class="footer__linksItemLinkText">View source code 👉</span>
      </a>
    </li>
  </ul>
  <ul class="footer__links">
    <a class="footer__copyrightLink"href="">Modified by gastonArevalo</a>
      <a class="footer__copyrightLink" href="https://whitep4nth3r.com/" target="_blank">
        all credits to: &copy; Salma Alam-Naylor {{ utils.year }}
    </a>
    <a class="footer__copyrightLink" href="https://twitter.com/iBaldie" target="_blank" rel="noopener nofollow">
      Design by Liam Baldwin
    </a>
  </ul>
</footer>
